.project
  %h2.name= name

  .card
    .title
      .github_icon
      %a{ href: github_url }= github
    %ul.metadata
      %li.metadatum
        .key Stargazers
        .value= stargazers_count
      %li.metadatum
        .key Forks
        .value= forks_count
      %li.metadatum
        .key Latest Commit Date
        .value= latest_commit_date
    .description= description
    .readme= Safe.script(readme)
