.project
  %h2.name.project_name= name
  %h3.website= website

  .card
    .title
      .github_icon
      %a.github{ href: github_url }= github
    .description= description
    %ul.metadata
      %li.metadatum
        .key Stargazers
        .value= stargazers_count
      %li.metadatum
        .key Forks
        .value= forks_count
      %li.metadatum
        .key Latest Commit Date
        .value= latest_commit_date
    .readme= Safe.script(readme)
